main {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding-top: 6rem;
}

h3 {
  font-size: 3rem;
  font-weight: 200;
}

p {
  color: #a0a0a0;
  letter-spacing: 1.1px;
}

.btn-outline-secondary {
  border-color: #a0a0a0;
  color: #a0a0a0;
}

.btn-outline-secondary:hover,
.fa:hover,
.dropdown-menu:hover {
  border-color: rgb(85, 85, 85);
  background: white;
  color: black;
}

/*
  -------- HEADER
*/

.explore-header {
  max-width: 700px;
}

/*
  -------- SECTIONS
*/

.sections {
  padding: 2rem 0;
}

.sections a {
  color: #a0a0a0;
  font-weight: 200;
  padding: 0 4rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.sections a:hover {
  color: black;
}

.loading {
  width: 3rem;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
}

/*
  -------- GRID
*/

.container-fluid {
  padding: 0 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  display: inline-block;
}

.column img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border: solid 0.02px rgb(211, 211, 211);
}

.element {
  flex: 1;
  cursor: pointer;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.video_wrapper {
  position: relative;
}

.video_wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

.bottom-left {
  color: white;
  position: relative;
  bottom: 56px;
  left: 14px;
  font-weight: 100px;
  font-size: 0.75rem;
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

.element:hover .linkSource {
  text-decoration: none;
  color: rgb(204, 255, 0);
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

.downloadIcon,
.plusIcon {
  height: 1rem !important;
  width: auto !important;
  padding: 0 0.2rem;
  border: none !important;
  filter: drop-shadow(
    0.5px 2px 3px rgba(124, 124, 124, 0),
    -0.5px -2px -3px rgba(122, 122, 122, 0)
  ) !important;
  cursor: pointer !important;
  opacity: 0;
  transition: opacity 1s;
}

.bottom-left-video {
  color: white;
  position: relative;
  bottom: 56px;
  left: 14px;
  font-weight: 100px;
  font-size: 0.75rem;
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

.bottom-right {
  color: rgba(255, 255, 255, 0);
  position: relative;
  bottom: 81px;
  left: 292px;
  font-weight: 100px;
  font-size: 0.8rem;
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 0);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0);
  transition: color 1s;
}

.bottom-right-video {
  color: rgba(255, 255, 255, 0);
  position: relative;
  bottom: 81px;
  left: 292px;
  font-weight: 100px;
  font-size: 0.8rem;
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 0);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0);
  transition: color 1s;
}

.element:hover .bottom-right {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

.element:hover .bottom-right-video {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

.element .fas {
  padding: 0 5px;
  font-weight: 100px;
  font-size: 0.75rem;
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 0);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 0);
}

.modal-body {
  max-height: 80vh;
}

.modal-body img {
  max-height: 75vh;
  max-width: 60vw;
  margin: 0 auto;
}

.footer-text p {
  margin-bottom: 0;
}

/*

------------------- MEDIA QUERIES

*/

@media screen and (max-width: 1279px) {
  main {
    font-family: "Lato", sans-serif;
    font-size: 14px;
  }

  h5 {
    font-size: 1.4rem;
  }

  .hero_imagen {
    padding: 18rem 6rem;
    max-height: 90vh;
    width: 100vw;
  }

  .container-fluid {
    padding: 0 6rem;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 799px) {
  main {
    font-size: 14px;
  }

  h3 {
    font-size: 2.2rem;
  }

  .container-fluid {
    padding: 0 4rem;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  main {
    font-size: 10px;
  }

  h3 {
    font-size: 1.6rem;
  }

  .container-fluid {
    padding: 0 2rem;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}
