<main role="main">
  <div class="container-fluid">
    <div class="explore-header px-3 py-2 pt-md-3 pb-md-2 mx-auto text-center">
      <h3 class="display-4">Explore & Find</h3>
      <p class="lead">
        Navigate across different categories to find what you're looking for or
        to discover something amazing on the way.
      </p>
    </div>
  </div>
  <div class="container sections">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" (click)="getCatLatest$()">Latest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getCatNature$()">Nature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getCatPeople$()">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getCatFoodDrink$()">Food & Drink</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="getVideos$()">Video</a>
      </li>
    </ul>
  </div>

  <div class="loading" *ngIf="loading">
    <img src="../../assets/loader.gif" />
  </div>

  <div class="container-fluid my-4 grid plantilla" *ngIf="!showVideo">
    <div class="row">
      <div class="column">
        <div class="container element" *ngFor="let item of arr1">
          <a href="#ref{{ item.idSource }}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource">
            <!-- style="background: url(../../assets/loader.gif) no-repeat"> -->
            <img [src]="item?.imageSmall" [attr.data-id]="item?.idSource" [attr.data-font]="item?.source" />
          </a>
          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source == 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a>
              via
              <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a>
              via
              <a class="linkSource" href="https://www.pixabay.com" target="_blank">
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'unsplash'">
              <a class="linkAuthor" href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                {{ item.authorName }}</a>
              via
              <a class="linkSource" href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank">
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-font]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-font]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>

          <div class="modal fade" id="ref{{ item.idSource }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pexels'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pexels.com" target="_blank">
                      Pexels
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pixabay'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pixabay.com" target="_blank">
                      Pixabay
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'unsplash'">
                    <a class="linkAuthor" href="{{
                              item.authorLink
                            }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                      target="_blank">
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.imageLarge" [attr.data-font]="item.source" (click)="triggerDownloadPhoto($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-dismiss="modal"
                    [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-font]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <a type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]">
                    See Photo
                  </a>
                  <a type="button" class="btn btn-outline-secondary btn-sm" [href]="item.imageSourceLink" target="_blank">
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr2">
          <a href="#ref{{ item.idSource }}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource">
            <!-- style="background: url(../../assets/loader.gif) no-repeat"> -->
            <img
              [src]="item?.imageSmall"
              [attr.data-id]="item?.idSource"
              [attr.data-font]="item?.source"
            />
          </a>
          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source === 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a
              >
              via
              <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source === 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a
              >
              via
              <a
                class="linkSource"
                href="https://www.pixabay.com"
                target="_blank"
              >
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source === 'unsplash'">
              <a
                class="linkAuthor"
                href="{{
                  item.authorLink
                }}?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank"
              >
                {{ item.authorName }}</a
              >
              via
              <a
                class="linkSource"
                href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank"
              >
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-font]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-font]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>
          <div class="modal fade" id="ref{{ item.idSource }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pexels'">
                    <a
                      class="linkAuthor"
                      [href]="item.authorLink"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://www.pexels.com"
                      target="_blank"
                    >
                      Pexels
                    </a>
                  </h6>
                  <h6
                    class="modal-title mr-auto"
                    id="{{ item.idSource }}Label"
                    *ngIf="item.source === 'pixabay'"
                  >
                    <a
                      class="linkAuthor"
                      [href]="item.authorLink"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://www.pixabay.com"
                      target="_blank"
                    >
                      Pixabay
                    </a>
                  </h6>
                  <h6
                    class="modal-title mr-auto"
                    id="{{ item.idSource }}Label"
                    *ngIf="item.source === 'unsplash'"
                  >
                    <a
                      class="linkAuthor"
                      href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                      target="_blank"
                    >
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a
                    class="btn btn-outline-secondary btn-sm"
                    [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.imageLarge"
                    [attr.data-font]="item.source"
                    (click)="triggerDownloadPhoto($event)"
                  >
                    Download
                  </a>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-dismiss="modal"
                    [attr.data-bs-target]="'#loggedAlert'"
                    *ngIf="!isLogged"
                  >
                    Add to My Desk
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    [attr.data-id]="item?.idSource"
                    [attr.data-font]="item?.source"
                    (click)="saveItemUser($event)"
                    *ngIf="isLogged"
                  >
                    Add to My Desk
                  </button>
                  <a
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]"
                  >
                    See Photo
                  </a>
                  <a
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    [href]="item.imageSourceLink"
                    target="_blank"
                  >
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']" data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal" [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr3">
          <a href="#ref{{ item.idSource }}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource ">
            <!-- style="background: url(../../assets/loader.gif) no-repeat"> -->
            <img [src]="item?.imageSmall" [attr.data-id]="item?.idSource" [attr.data-font]="item?.source"/>
          </a>

          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source === 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a
              >
              via
              <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source === 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a
              >
              via
              <a
                class="linkSource"
                href="https://www.pixabay.com"
                target="_blank"
              >
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source === 'unsplash'">
              <a
                class="linkAuthor"
                href="{{
                  item.authorLink
                }}?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank"
              >
                {{ item.authorName }}</a
              >
              via
              <a
                class="linkSource"
                href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank"
              >
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-font]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-font]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>

          <div class="modal fade" id="ref{{ item.idSource }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pexels'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a> 
                    via 
                    <a class="linkSourceModal" href="https://www.pexels.com" target="_blank">
                      Pexels
                    </a>
                  </h6>
                  <h6
                    class="modal-title mr-auto"
                    id="{{ item.idSource }}Label"
                    *ngIf="item.source === 'pixabay'"
                  >
                    <a
                      class="linkAuthor"
                      [href]="item.authorLink"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://www.pixabay.com"
                      target="_blank"
                    >
                      Pixabay
                    </a>
                  </h6>
                  <h6
                    class="modal-title mr-auto"
                    id="{{ item.idSource }}Label"
                    *ngIf="item.source === 'unsplash'"
                  >
                    <a
                      class="linkAuthor"
                      href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                      target="_blank"
                    >
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a
                    class="btn btn-outline-secondary btn-sm"
                    [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.imageLarge"
                    [attr.data-font]="item.source"
                    (click)="triggerDownloadPhoto($event)"
                  >
                    Download
                  </a>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-dismiss="modal"
                    [attr.data-bs-target]="'#loggedAlert'"
                    *ngIf="!isLogged"
                  >
                    Add to My Desk
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    [attr.data-id]="item?.idSource"
                    [attr.data-font]="item?.source"
                    (click)="saveItemUser($event)"
                    *ngIf="isLogged"
                  >
                    Add to My Desk
                  </button>
                  <a
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]"
                  >
                    See Photo
                  </a>
                  <a
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    [href]="item.imageSourceLink"
                    target="_blank"
                  >
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button
                      type="button"
                      class="btn btn-outline-secondary m-2"
                      [routerLink]="['/login']"
                      data-bs-dismiss="modal"
                    >
                      Login
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-secondary m-2"
                      data-bs-dismiss="modal"
                      [routerLink]="['/signup']"
                    >
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr4">
          <a
            href="#ref{{ item.idSource }}"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#ref' + item.idSource "
          >
            <!-- style="background: url(../../assets/loader.gif) no-repeat"> -->
            <img
              [src]="item?.imageSmall"
              [attr.data-id]="item?.idSource"
              [attr.data-font]="item?.source"
            />
          </a>

          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source === 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a
              >
              via
              <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source === 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a
              >
              via
              <a
                class="linkSource"
                href="https://www.pixabay.com"
                target="_blank"
              >
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source === 'unsplash'">
              <a
                class="linkAuthor"
                href="{{
                  item.authorLink
                }}?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank"
              >
                {{ item.authorName }}</a
              >
              via
              <a
                class="linkSource"
                href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank"
              >
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-font]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-font]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            id="ref{{ item.idSource }}"
            tabindex="-1"
            role="dialog"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6
                    class="modal-title mr-auto"
                    id="{{ item.idSource }}Label"
                    *ngIf="item.source === 'pexels'"
                  >
                    <a
                      class="linkAuthor"
                      [href]="item.authorLink"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://www.pexels.com"
                      target="_blank"
                    >
                      Pexels
                    </a>
                  </h6>
                  <h6
                    class="modal-title mr-auto"
                    id="{{ item.idSource }}Label"
                    *ngIf="item.source === 'pixabay'"
                  >
                    <a
                      class="linkAuthor"
                      [href]="item.authorLink"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://www.pixabay.com"
                      target="_blank"
                    >
                      Pixabay
                    </a>
                  </h6>
                  <h6
                    class="modal-title mr-auto"
                    id="{{ item.idSource }}Label"
                    *ngIf="item.source === 'unsplash'"
                  >
                    <a
                      class="linkAuthor"
                      href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral"
                      target="_blank"
                    >
                      {{ item.authorName }}</a
                    >
                    via
                    <a
                      class="linkSourceModal"
                      href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                      target="_blank"
                    >
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a
                    class="btn btn-outline-secondary btn-sm"
                    [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.imageLarge"
                    [attr.data-font]="item.source"
                    (click)="triggerDownloadPhoto($event)"
                  >
                    Download
                  </a>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-dismiss="modal"
                    [attr.data-bs-target]="'#loggedAlert'"
                    *ngIf="!isLogged"
                  >
                    Add to My Desk
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    [attr.data-id]="item?.idSource"
                    [attr.data-font]="item?.source"
                    (click)="saveItemUser($event)"
                    *ngIf="isLogged"
                  >
                    Add to My Desk
                  </button>
                  <a
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]"
                  >
                    See Photo
                  </a>
                  <a
                    type="button"
                    class="btn btn-outline-secondary btn-sm"
                    [href]="item.imageSourceLink"
                    target="_blank"
                  >
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button
                      type="button"
                      class="btn btn-outline-secondary m-2"
                      [routerLink]="['/login']"
                      data-bs-dismiss="modal"
                    >
                      Login
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-secondary m-2"
                      data-bs-dismiss="modal"
                      [routerLink]="['/signup']"
                    >
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid my-4 grid plantilla" *ngIf="showVideo">
    <div class="row">
      <div class="column">
        <div class="container element" *ngFor="let item of arr1">
          <div class="videowrapper text-center" style="--aspect-ratio: 9 / 16;">
            <a href="#ref{{item?.idFont}}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item?.idFont">
              <video width="380" height="213,75" oncanplay="this.muted=true" onmouseover="this.play()"
                onmouseout="this.pause()">
                <source [src]=item?.imageSmall type="video/mp4">
              </video>
            </a>
          </div>
          
          <div class="bottom-legend">
            <div class="bottom-left-video">{{item?.authorName}} | {{item?.font}}</div>
            <div class="bottom-right-video">
              <i class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.imageLarge" (click)="triggerDownloadVideo($event)"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" [attr.data-id]="item?.idFont" [attr.data-font]="item?.font"
                (click)="saveVideoUser$($event)" *ngIf="isLogged"></i>
            </div>
          </div>
          <div class="modal fade" id="ref{{item?.idFont}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{item?.idFont}}Label">
                    {{item?.authorName}} | {{item?.font}}
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="videowrapper embed-responsive embed-responsive-16by9" style="--aspect-ratio: 9 / 16;">
                    <video width="1280" height="720" frameborder="0" controls id="video" allowscriptaccess="always"
                      allow="autoplay">
                      <source [src]="item?.imageMedium" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{item?.title}}</h6>
                    <p>{{item?.description}}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-link]="item?.imageLarge"
                    (click)="triggerDownloadVideo($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idFont"
                    [attr.data-font]="item?.font" (click)="saveVideoUser$($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [attr.data-id]="item.idFont" [attr.data-font]="item.font" (click)="toVideoPage($event)">
                    See Video
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr2">
          <div class="videowrapper text-center" style="--aspect-ratio: 9 / 16;">
            <a href="#ref{{item?.idFont}}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item?.idFont">
              <video width="380" height="213,75" oncanplay="this.muted=true" onmouseover="this.play()"
                onmouseout="this.pause()">
                <source [src]=item?.imageSmall type="video/mp4">
              </video>
            </a>
          </div>

          <div class="bottom-legend">
            <div class="bottom-left-video">{{item?.authorName}} | {{item?.font}}</div>
            <div class="bottom-right-video">
              <i class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.imageLarge" (click)="triggerDownloadVideo($event)"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" [attr.data-id]="item?.idFont" [attr.data-font]="item?.font"
                (click)="saveVideoUser$($event)" *ngIf="isLogged"></i>
            </div>
          </div>

          <div class="modal fade" id="ref{{item?.idFont}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{item?.idFont}}Label">
                    {{item?.authorName}} | {{item?.font}}
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="videowrapper embed-responsive embed-responsive-16by9" style="--aspect-ratio: 9 / 16;">
                    <video width="1280" height="720" frameborder="0" controls id="video" allowscriptaccess="always"
                      allow="autoplay">
                      <source [src]="item?.imageMedium" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{item?.title}}</h6>
                    <p>{{item?.description}}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-link]="item?.imageLarge"
                    (click)="triggerDownloadVideo($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idFont"
                    [attr.data-font]="item?.font" (click)="saveVideoUser$($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [attr.data-id]="item.idFont" [attr.data-font]="item.font" (click)="toVideoPage($event)">
                    See Video
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr3">
          <div class="videowrapper text-center" style="--aspect-ratio: 9 / 16;">
            <a href="#ref{{item?.idFont}}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item?.idFont">
              <video width="380" height="213,75" oncanplay="this.muted=true" onmouseover="this.play()"
                onmouseout="this.pause()">
                <source [src]=item?.imageSmall type="video/mp4">
              </video>
            </a>
          </div>

          <div class="bottom-legend">
            <div class="bottom-left-video">{{item?.authorName}} | {{item?.font}}</div>
            <div class="bottom-right-video">
              <i class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.imageLarge" (click)="triggerDownloadVideo($event)"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" [attr.data-id]="item?.idFont" [attr.data-font]="item?.font"
                (click)="saveVideoUser$($event)" *ngIf="isLogged"></i>
            </div>
          </div>

          <div class="modal fade" id="ref{{item?.idFont}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{item?.idFont}}Label">
                    {{item?.authorName}} | {{item?.font}}
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="videowrapper embed-responsive embed-responsive-16by9" style="--aspect-ratio: 9 / 16;">
                    <video width="1280" height="720" frameborder="0" controls id="video" allowscriptaccess="always"
                      allow="autoplay">
                      <source [src]="item?.imageMedium" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{item?.title}}</h6>
                    <p>{{item?.description}}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-link]="item?.imageLarge"
                    (click)="triggerDownloadVideo($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idFont"
                    [attr.data-font]="item?.font" (click)="saveVideoUser$($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [attr.data-id]="item.idFont" [attr.data-font]="item.font" (click)="toVideoPage($event)">
                    See Video
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr4">
          <div class="videowrapper text-center" style="--aspect-ratio: 9 / 16;">
            <a href="#ref{{item?.idFont}}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item?.idFont">
              <video width="380" height="213,75" oncanplay="this.muted=true" onmouseover="this.play()"
                onmouseout="this.pause()">
                <source [src]=item?.imageSmall type="video/mp4">
              </video>
            </a>
          </div>

          <div class="bottom-legend">
            <div class="bottom-left-video">{{item?.authorName}} | {{item?.font}}</div>
            <div class="bottom-right-video">
              <i class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.imageLarge" (click)="triggerDownloadVideo($event)"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged"></i>
              <i class="plusIcon" src="../../assets/PlusIcon.png" [attr.data-id]="item?.idFont" [attr.data-font]="item?.font"
                (click)="saveVideoUser$($event)" *ngIf="isLogged"></i>
            </div>
          </div>

          <div class="modal fade" id="ref{{item?.idFont}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{item?.idFont}}Label">
                    {{item?.authorName}} | {{item?.font}}
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="videowrapper embed-responsive embed-responsive-16by9" style="--aspect-ratio: 9 / 16;">
                    <video width="1280" height="720" frameborder="0" controls id="video" allowscriptaccess="always"
                      allow="autoplay">
                      <source [src]="item?.imageMedium" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>{{item?.title}}</h6>
                    <p>{{item?.description}}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-link]="item?.imageLarge"
                    (click)="triggerDownloadVideo($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idFont"
                    [attr.data-font]="item?.font" (click)="saveVideoUser$($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [attr.data-id]="item.idFont" [attr.data-font]="item.font" (click)="toVideoPage($event)">
                    See Video
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonNext text-center" *ngIf="!loading">
      <a class="btn btn-outline-secondary btn-sm" (click)="toVideoNextPage$()">
        See more
      </a>
    </div>
  </div>

</main>
