<main>
  <div class="container">
    <div class="search-header px-3 py-2 pt-md-3 pb-md-2 mr-auto" *ngIf="!searchBox">
      <h3 class="display-4" (click)="activeSearch()">{{search}}</h3>
    </div>
    <div class="container px-3 py-2 pt-md-3 pb-md-2 mr-auto" *ngIf="searchBox">
      <form>
        <div class="form-row">
          <div class="col-8">
            <div class="input-group mb-3">
              <input type="text" class="form-control inputSearch" [placeholder]="search" name="newSearch"
                [(ngModel)]="newSearch" [value]="search" (keyup.enter)="searchPhotos$()" />

              <div class="input-group-append search-box">
                <button class="btn btn-outline-secondary" type="button" (click)="searchPhotos$()">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="loading" *ngIf="loading">
    <img src="../../assets/loader.gif" />
  </div>

  <div class="container-fluid my-4 grid plantilla">
    <div class="row">
      <div class="column">
        <div class="container element" *ngFor="let item of arr1">
          <a data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource">
            <img [src]="item?.imageSmall" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" />
          </a>

          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source == 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via
              <a class="linkSource" href="https://www.pixabay.com" target="_blank">
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'unsplash'">
              <a class="linkAuthor" href="{{
                  item.authorLink
                }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                {{ item.authorName }}</a>
              via
              <a class="linkSource" href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank">
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-source]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>

          <div class="modal fade" id="ref{{ item.idSource }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pexels'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pexels.com" target="_blank">
                      Pexels
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pixabay'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pixabay.com" target="_blank">
                      Pixabay
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'unsplash'">
                    <a class="linkAuthor" href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal"
                      href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text m-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.downloadLink" [attr.data-source]="item.source"
                    (click)="triggerDownloadPhoto($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <a type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]">
                    See Photo
                  </a>
                  <a type="button" class="btn btn-outline-secondary btn-sm" [href]="item.imageSourceLink"
                    target="_blank">
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr2">
          <a href=" #ref{{ item.idSource }}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource">
            <img [src]="item?.imageSmall" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" />
          </a>

          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source == 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via
              <a class="linkSource" href="https://www.pixabay.com" target="_blank">
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'unsplash'">
              <a class="linkAuthor" href="{{
                  item.authorLink
                }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                {{ item.authorName }}</a>
              via
              <a class="linkSource" href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank">
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-source]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>

          <div class="modal fade" id="ref{{ item.idSource }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pexels'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pexels.com" target="_blank">
                      Pexels
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pixabay'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pixabay.com" target="_blank">
                      Pixabay
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'unsplash'">
                    <a class="linkAuthor" href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal"
                      href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text m-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.downloadLink" [attr.data-source]="item.source"
                    (click)="triggerDownloadPhoto($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <a type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]">
                    See Photo
                  </a>
                  <a type="button" class="btn btn-outline-secondary btn-sm" [href]="item.imageSourceLink"
                    target="_blank">
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr3">
          <a href=" #ref{{ item.idSource }}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource">
            <img [src]="item?.imageSmall" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" />
          </a>

          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source == 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via
              <a class="linkSource" href="https://www.pixabay.com" target="_blank">
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'unsplash'">
              <a class="linkAuthor" href="{{
                  item.authorLink
                }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                {{ item.authorName }}</a>
              via
              <a class="linkSource" href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank">
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-source]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>

          <div class="modal fade" id="ref{{ item.idSource }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pexels'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pexels.com" target="_blank">
                      Pexels
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pixabay'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pixabay.com" target="_blank">
                      Pixabay
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'unsplash'">
                    <a class="linkAuthor" href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal"
                      href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text m-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.downloadLink" [attr.data-source]="item.source"
                    (click)="triggerDownloadPhoto($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <a type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]">
                    See Photo
                  </a>
                  <a type="button" class="btn btn-outline-secondary btn-sm" [href]="item.imageSourceLink"
                    target="_blank">
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element" *ngFor="let item of arr4">
          <a href=" #ref{{ item.idSource }}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource">
            <img [src]="item?.imageSmall" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" />
          </a>

          <div class="bottom-legend">
            <div class="bottom-left" *ngIf="item.source == 'pexels'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via <a class="linkSource" href="https://www.pexels.com" target="_blank">
                Pexels
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'pixabay'">
              <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                {{ item.authorName }}</a> via
              <a class="linkSource" href="https://www.pixabay.com" target="_blank">
                Pixabay
              </a>
            </div>
            <div class="bottom-left" *ngIf="item.source == 'unsplash'">
              <a class="linkAuthor" href="{{
                  item.authorLink
                }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                {{ item.authorName }}</a>
              via
              <a class="linkSource" href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral"
                target="_blank">
                Unsplash
              </a>
            </div>
            <div class="bottom-right">
              <div>
                <img class="downloadIcon" src="../../assets/DownloadIcon.png" [attr.data-link]="item?.downloadLink" [attr.data-source]="item?.source"
                [attr.data-id]="item?.idSource" (click)="triggerDownloadPhoto($event)">
              </div>
              <div >
                <img class="plusIcon" id="modalButton" data-bs-toggle="modal" [attr.data-bs-target]="'#loggedAlert'" data-bs-dismiss="modal"
                *ngIf="!isLogged" src="../../assets/PlusIcon.png">
              </div>
              <div>
                <img class="plusIcon" id="modalButton" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged" src="../../assets/PlusIcon.png">
              </div>
            </div>
          </div>

          <div class="modal fade" id="ref{{ item.idSource }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pexels'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pexels.com" target="_blank">
                      Pexels
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'pixabay'">
                    <a class="linkAuthor" [href]="item.authorLink" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal" href="https://www.pixabay.com" target="_blank">
                      Pixabay
                    </a>
                  </h6>
                  <h6 class="modal-title mr-auto" id="{{ item.idSource }}Label" *ngIf="item.source === 'unsplash'">
                    <a class="linkAuthor" href="{{
                        item.authorLink
                      }}?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      {{ item.authorName }}</a>
                    via
                    <a class="linkSourceModal"
                      href="https://unsplash.com/?utm_source=mediastockfinder&utm_medium=referral" target="_blank">
                      Unsplash
                    </a>
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-auto">
                  <img [src]="item?.imageLarge" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text m-auto align-bottom">
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                  </div>
                  <a class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-link]="item.downloadLink" [attr.data-source]="item.source"
                    (click)="triggerDownloadPhoto($event)">
                    Download
                  </a>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-dismiss="modal" [attr.data-bs-target]="'#loggedAlert'" *ngIf="!isLogged">
                    Add to My Desk
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" [attr.data-id]="item?.idSource"
                    [attr.data-source]="item?.source" (click)="saveItemUser($event)" *ngIf="isLogged">
                    Add to My Desk
                  </button>
                  <a type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                    [routerLink]="['/photo-page', item.source, item.idSource]">
                    See Photo
                  </a>
                  <a type="button" class="btn btn-outline-secondary btn-sm" [href]="item.imageSourceLink"
                    target="_blank">
                    To Source
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="loggedAlert" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                    Ooops
                  </h6>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>You need to be logged in to save media.</h3>
                </div>
                <div class="modal-footer">
                  <div class="footer-text align-bottom text center">
                    <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                      data-bs-dismiss="modal">
                      Login
                    </button>
                    <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal"
                      [routerLink]="['/signup']">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonNext text-center" *ngIf="!loading">
      <a class="btn btn-outline-secondary" (click)="toSearchPhotoNextPage$()">
        See more
      </a>
    </div>
  </div>

  <div class="row">
    <div class="btn btn-outline-secondary" (click)="topFunction()" id="btnTop" title="Go to top">
      To Top
    </div>
  </div>

</main>
