<main>
  <div class="container">
    <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">About</h3>
      <p class="lead">
        This is a fullstack bootcamp's final project of a student developer based
        in Barcelona.
      </p>
      <br />
      <hr />
      <br />
      <p>
        My name is Edu, and as an experience video editor there has been countless ocasions in which
        looking for an image or a video sequence for a project has become a loss
        of time navigating many web pages. Though There are really great platforms
        usually you don't find what you want in the first one. 
        MEDIA STOCK FINDER is the attempt of an answer to that issue.
        Hope you enjoy it. If you want to reach me, you can do it <a href="mailto:educaubilla@gmail.com">here.</a>
        Also, you can reach me in LinkedIn - linkedin.com/in/educaubilla/ and twitter - @EduCaubilla
        I'll appreciatte any comment.

        Enjoy your images. Free images for a free world!
      </p>
    </div>
  </div>
</main>
