<main>
  <div class="container">
    <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">About</h3>
      <p class="lead">
        This is a fullsatck bootcamp's final project of a student developer based
        in Barcelona.
      </p>
      <br />
      <hr />
      <br />
      <p>
        As an experience video editor there has been countless ocasions in which
        looking for an image or a video sequence for a project has become a loss
        of time navigating many web pages. There are really great platforms
        though, usually you don't find what you want in the first one. MEDIA
        STOCK FINDER is the attempt of an answer to that issue.
      </p>
    </div>
  </div>
</main>
