<main>
  <div class="container">
    <div class="about-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">About</h3>
      <p class="lead">
        This is a fullstack bootcamp's final project of a student developer based
        in Barcelona.
      </p>
      <br />
      <hr />
      <br />
      <p>
        My name is Edu, a Fullstack student in Neoland, a dev school in Spain.
        <br>
        <br>
        As an experience video editor there has been countless ocasions in which
        looking for an image or a video sequence for a project has become a loss
        of time navigating many web pages. Though There are really great platforms
        usually you don't find what you want in the first one.
        <br>
        <br>
        MEDIA STOCK FINDER is my humble answer to that issue.
        <br>
        <br>

        If you want to reach me via email, you can do it <a href="mailto:educaubilla@gmail.com">here.</a>
        <br>

        Also, you can reach me in LinkedIn - <a href="https://linkedin.com/in/educaubilla/">linkedin.com/in/educaubilla/</a> <br>
        and twitter - <a href="https://twitter.com/Ecaubilla">@ECaubilla</a>
        I'll appreciatte any comment.
        <br>
        <br>
        Enjoy your images!
        <br>
        FREE IMAGES FOR A FREE WORLD
      </p>
    </div>
  </div>
</main>

