<main>
  <div class="container text-center">
    <div class="search-header px-3 py-2 pt-md-4 pb-md-2 mr-auto">
      <!-- <h3 class="display-4" (click)="activeSearch()">{{search}}</h3> -->
      <h3>{{item[0].title}}</h3>
    </div>

    <div class="loading" *ngIf="loading">
      <img src="../../assets/loader.gif" />
    </div>
    <div class="container main mt-1 mb-4">
      <div class="row">
        <div class="container element text-center">
          <img [src]=item[0]?.imageLarge />
        </div>
      </div>
      <div class="container text_footer">
        <div class="row my-4">
          <div class="info">
            <h3>{{item[0].authorName}}</h3>
            <h4>{{item[0].font}}</h4>
            <p>{{item[0].description}}</p>
          </div>
          <!-- <div class="download col-12 col-md-4 row"> -->
          <a class="btn btn-outline-secondary btn-sm" [attr.data-link]="item[0].imageLarge"
            [attr.data-font]="item[0].font" (click)="triggerDownloadPhoto($event)">
            Download
          </a>
          <button type="button" class="btn btn-outline-secondary">
            <i class="fas fa-plus"></i>
          </button>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</main>
