main {
  padding-top: 4rem;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h3 {
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.1;
}

p {
  color: #a0a0a0;
  letter-spacing: 1.1px;
  font-weight: 100;
}

img {
  max-height: 65vh;
  max-width: 65vw;
  width: auto;
}

.loading {
  width: 3rem;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
}

.main {
  max-height: 85vh;
}

.element {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.mainImage {
  max-width: 100vw;
  max-height: 70vh;
}

.authorImage {
  width: auto;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.btn {
  margin-left: .7rem;
}

.btn-outline-secondary {
  border-color: #a0a0a0;
  color: #a0a0a0;
}

.btn-outline-secondary:hover,
.fa:hover,
.dropdown-menu:hover {
  border-color: rgb(85, 85, 85);
  background: white;
  color: black;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1279px) {
  main {
    font-family: "Lato", sans-serif;
    font-size: 14px;
  }

  h3 {
    font-size: 2.5rem;
  }


  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 799px) {
  main {
    font-family: "Lato", sans-serif;
    font-size: 14px;
  }

  h5 {
    font-size: 1.4rem;
  }

  .hero_imagen {
    padding: 18rem 4rem;
    max-height: 90vh;
    width: 100vw;
  }

  .container-fluid {
    padding: 0 4rem;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  main {
    font-family: "Lato", sans-serif;
    font-size: 10px;
  }

  h5 {
    font-size: 1.2rem;
  }

  .jumbotron {
    margin-bottom: 1rem;
  }

  .hero_imagen {
    padding: 18rem 2rem;
    max-height: 90vh;
    width: 100vw;
  }

  .main_search {
    margin: 0;
  }

  .sections .nav-link {
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .container-fluid {
    padding: 0 2rem;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}
