<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand" [routerLink]="['home']">MEDIA STOCK FINDER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['explore']">Explore</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['about']">About</a>
          <a class="dropdown-item" [routerLink]="['license']">License</a>
          <a class="dropdown-item" [routerLink]="['faqs']" style="display: none;">FAQs</a>
          <a class="dropdown-item" [routerLink]="['legal']">Legal</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['signup']">Sign up</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
