<main>
  <div class="container">
    <div class="search-header px-3 py-4 pt-md-4 pb-md-2 mr-auto">
      <h3>Hi {{user.name}}, welcome to your Desk</h3>
      <p>This is your personal space to manage saved assets.</p>
    </div>
  </div>
  <div class="container-fluid ">
    <div class="row my-4">
      <div class="col-12" style="margin: 0 auto;">
        <table class="table table-hover">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Source</th>
              <th scope="col">Type</th>
              <th scope="col" class="text-center">Media</th>
              <th scope="col" class="text-center">Options</th>
              <!-- <th scope="col"></th> -->
              <!-- <th scope="col"></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrDesk">
              <th scope="row" class="lista my_title">{{ item.title }}</th>
              <th scope="row" class="lista">{{ item.description }}</th>
              <th scope="row" class="lista">{{ item.source }}</th>
              <th scope="row" class="lista">{{ item.media }}</th>
              <th scope="row" class="lista text-center">
                <a href="#ref{{item.idSource}}" data-bs-toggle="modal" [attr.data-target]="'#ref' + item.idSource">
                  <img [src]=item?.imageThumb [attr.data-id]="item?.idSource" [attr.data-source]="item?.source"
                    *ngIf="item.media === 'image'" />
                  <video width="255" height="170.8" oncanplay="this.muted=true" onmouseover="this.play()"
                    onmouseout="this.pause()" *ngIf="item.media === 'video'">
                    <source [src]=item?.imageSmall type="video/mp4">
                  </video>
                </a>
              </th>
              <th scope="row" class="lista text-center">
                <a href="#ref{{item.idSource}}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item.idSource">
                  <button class="btn btn-outline-secondary btn-sm mx-2">View</button>
                </a>
                <button type="button" class="btn btn-outline-secondary btn-sm mx-2" data-bs-dismiss="modal"
                  [attr.data-media]="item?.media" [attr.data-id]="item?.idSource" [attr.data-source]="item?.source"
                  (click)="toMediaPage($event)">
                  Open
                </button>
                <button class="btn btn-outline-secondary btn-sm mx-2" [attr.data-media]="item?.media" [attr.data-id]="item?.idSource"
                  [attr.data-source]="item?.source" [attr.data-link]="item?.imageLarge" (click)="triggerDownload($event)">
                  Download
                </button>
                <button class="btn btn-outline-danger btn-sm mx-2" [attr.data-id]="item?._id" (click)="onDelete($event)">
                  Delete
                </button>
              </th>

              <div class="modal fade" id="ref{{item.idSource}}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title mr-auto" id="{{item.idSource}}Label">
                        {{item.authorName}} | {{item.source}}
                      </h6>
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body mx-auto" *ngIf="item.media === 'image'">
                      <img [src]=item?.imageLarge />
                    </div>
                    <div class="videowrapper embed-responsive embed-responsive-16by9" style=" --aspect-ratio: 9 /
                        16;" *ngIf="item.media === 'video'">
                      <a href="#ref{{item?.idSource}}" data-bs-toggle="modal" [attr.data-bs-target]="'#ref' + item?.idSource">
                        <video wwidth="960" height="540" frameborder="0" controls id="video" allowscriptaccess="always"
                          allow="autoplay">
                          <source [src]=item?.imageLarge type="video/mp4">
                        </video>
                      </a>
                    </div>
                    <div class="modal-footer">
                      <div class="footer-text m-auto align-bottom">
                        <h6>{{item.title}}</h6>
                        <p>{{item.description}}</p>
                      </div>
                      <a class="btn btn-outline-secondary btn-sm" [attr.data-media]="item?.media"
                        [attr.data-source]="item?.source" [attr.data-link]="item?.imageLarge"
                        (click)="triggerDownload($event)">
                        Download
                      </a>
                      <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal"
                        [attr.data-id]="item?.idSource" [attr.data-source]="item?.source" (click)="toMediaPage($event)">
                        Open
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-outline-secondary btn-lg col-4" style="margin: 0 auto;"
      [routerLink]="['/home']">
      Go search
    </button>
  </div>

</main>
