main {
  padding-top: 4rem;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h3 {
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.1;
}

p {
  color: #a0a0a0;
  letter-spacing: 1.1px;
  font-weight: 100;
}

/*
  -------- TABLE
*/

.lista {
  font-weight: 200;
}

.my_title {
  font-weight: 400;
}

.lista img {
  max-height: 15vh;
  width: auto;
}

.loading {
  width: 3rem;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
}

.main {
  max-height: 75vh;
}

.btn {
  margin: .1rem;
}

.container-fluid {
  padding: 0 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.embed-responsive video {
  padding: 1rem;
}

.modal-body {
  height: 55vh;
}

.modal-body img {
  height: 51vh !important;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 799px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
