<main>
  <div class="container">
    <div class="page-header pb-2 pt-4 mr-auto">
      <!-- <h3 class="display-4" (click)="activeSearch()">{{search}}</h3> -->
      <h3>{{item[0]?.title}}</h3>
    </div>

    <div class="loading" *ngIf="loading">
      <img src="../../assets/loader.gif" />
    </div>
    <div class="container main mt-1 mb-3">
      <div class="row">
        <div class="videowrapper embed-responsive embed-responsive-16by9">
          <video width="1280" height="720" frameborder="0" controls id="video" allowscriptaccess="always"
            allow="autoplay" [src]=item[0]?.imageMedium type="video/mp4">
          </video>
        </div>

      </div>
      <div class="row my-3">
        <img class="authorImage align-self-center" [src]=item[0].authorImage>
        <div class="info mt-2">
          <h4 *ngIf="item[0].source==='pexels'">
            <a class="linkAuthorPage" [href]=item[0].authorLink target="_blank">
              {{item[0].authorName}}</a> via <a class="linkSourcePage" href="https://www.pexels.com" target="_blank">
              Pexels
            </a></h4>
          <h4 *ngIf="item[0].source==='pixabay'">
            <a class="linkAuthorPage" [href]=item[0].authorLink target="_blank">
              {{item[0].authorName}}</a> via <a class="linkSourcePage" href="https://www.pixabay.com" target="_blank">
              Pixabay
            </a></h4>
          <p>{{item[0].description}}</p>
        </div>
        <div class="buttons ml-auto align-self-center">
          <a class="btn btn-outline-secondary" [attr.data-link]="item[0].imageLarge"
            (click)="triggerDownloadVideo($event)">
            Download
          </a>
          <button type="button" class="btn btn-outline-secondary" [attr.data-id]="item[0].idSource"
            [attr.data-font]="item[0].source" (click)="saveVideoUser$($event)" *ngIf="isLogged">
            Add to My Desk
          </button>
          <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#loggedAlert" *ngIf="!isLogged">
            Add to My Desk
          </button>
          <a type="button" class="btn btn-outline-secondary" [href]=item[0].imageSourceLink target="_blank">
            To Source
          </a>
        </div>
        <div class="modal fade" id="loggedAlert" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title mr-auto" id="loggedAlertLabel">
                  Ooops
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>You need to be logged in to save media.</h3>
              </div>
              <div class="modal-footer">
                <div class="footer-text align-bottom text center">
                  <button type="button" class="btn btn-outline-secondary m-2" [routerLink]="['/login']"
                    data-dismiss="modal">
                    Login
                  </button>
                  <button type="button" class="btn btn-outline-secondary m-2" data-dismiss="modal"
                    [routerLink]="['/signup']">
                    Register
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<!-- <div class="modal" id="loggedAlert" tabindex="-1" role="dialog"></div> -->
