main {
  padding-top: 4rem;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h3 {
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.1;
}

p {
  color: #a0a0a0;
  letter-spacing: 1.1px;
  font-weight: 100;
}

.loading {
  width: 3rem;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
}

.main {
  max-height: 85vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.authorImage {
  width: auto;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.btn {
  margin-left: .7rem;
}

.btn-outline-secondary {
  border-color: #a0a0a0;
  color: #a0a0a0;
}

.btn-outline-secondary:hover,
.fa:hover,
.dropdown-menu:hover {
  border-color: rgb(85, 85, 85);
  background: white;
  color: black;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 799px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
