* {
  font-size: 16px;
}

main {
  font-family: "Lato", sans-serif;
  padding-top: 6rem;
}

h3 {
  font-size: 3rem;
  font-weight: 200;
}

h6 {
  font-size: 1.3rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 0.1rem;
}

h6 a {
  font-size: 1.3rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 0.1rem;
}

p {
  color: #a0a0a0;
  letter-spacing: 1.1px;
}

.btn-outline-secondary {
  border-color: #a0a0a0;
  color: #a0a0a0;
}

a {
  color: white;
}

img:hover {
  cursor: zoom-in;
}

.btn-outline-secondary:hover,
.dropdown-menu:hover {
  border-color: rgb(85, 85, 85);
  background: white;
  color: black;
}

/*
  -------- HEADER
*/

.search-header {
  max-width: 700px;
}

.inputSearch {
  line-height: 3rem;
}

.form-control {
  height: 3rem;
  padding: 0.375rem 0.75rem;
  font-size: 2.2rem;
  font-weight: 100;
}

.search-box {
  overflow: hidden;
  background-color: white;
  padding: 6px 2px;
}

/*
  -------- SECTIONS
*/

.sections {
  padding: 2rem 0;
}

.sections a {
  color: #a0a0a0;
  font-weight: 200;
  padding: 0 4rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.sections a:hover {
  color: black;
}

.loading {
  display: flex;
  height: auto;
  margin: 0 auto;
  padding: 5rem;
}

.loading img {
  margin: 0 auto;
}

/*
  -------- GRID
*/

.container-fluid {
  padding: 0 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  display: inline-block;
}

.column img,
.column video {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border: solid 0.02px rgb(211, 211, 211);
}

.element {
  flex: 1;
  cursor: pointer;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.video_wrapper {
  position: relative;
}

.video_wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

.bottom-legend {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  padding: 5px 5px 5px 10px;
  width: 380px;
}

.bottom-left {
  flex-grow: 8;
  color: white;
  position: relative;
  font-weight: 100;
  font-size: 1rem;
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 1);
  -moz-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -moz-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
  -webkit-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -webkit-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

/* .linkAuthor,
.linkSource {
  text-decoration: none;
  color: #fff;
} */

.modal-title .linkAuthor,
.modal:hover .linkAuthor {
  color: #a0a0a0 !important;
  text-shadow: none !important;
  -moz-text-shadow: none !important;
  -webkit-text-shadow: none !important;
}

.element:hover .linkAuthor {
  text-decoration: none;
  color: rgb(0, 204, 153);
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 1);
  -moz-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -moz-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
  -webkit-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -webkit-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

.element:hover .linkSource {
  text-decoration: none;
  color: rgb(204, 255, 0);
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 1);
  -moz-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -moz-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
  -webkit-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -webkit-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
}

.downloadIcon,
.plusIcon {
  height: 1rem !important;
  width: auto !important;
  margin: 0 0.3rem;
  border: none !important;
  text-shadow: 0.5px 2px 3px rgba(124, 124, 124, 0);
  cursor: pointer !important;
  opacity: 0;
  transition: opacity 1s;
}

.bottom-right-video {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4.8rem;
  color: rgba(255, 255, 255, 0);
  position: relative;
  font-weight: 100;
  font-size: 1rem;
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 1);
  -moz-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -moz-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
  -webkit-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -webkit-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
  transition: color 1s;
  cursor: pointer;
}

.element:hover .bottom-right-video,
.element:hover .downloadIcon,
.element:hover .plusIcon {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  text-shadow: 0px -2px -3px rgba(122, 122, 122, 1);
  -moz-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -moz-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
  -webkit-text-shadow: 0px 2px 3px rgba(124, 124, 124, 1);
  -webkit-text-shadow: 0px -2px -3px rgba(122, 122, 122, 0.8);
  opacity: 1;
}

.modal-body {
  max-height: 80vh;
}

.modal-body img,
.modal-body video {
  max-height: 75vh;
  max-width: 60vw;
  margin: 0 auto;
}

.footer-text {
  width: 45%;
}

.footer-text p {
  margin-bottom: 0;
}

#btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  width: 100px;
}
/*

------------------- MEDIA QUERIES

*/

@media screen and (max-width: 1279px) {
  main {
    font-family: "Lato", sans-serif;
    font-size: 14px;
  }

  h5 {
    font-size: 1.4rem;
  }

  .container-fluid {
    padding: 0 6rem;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 799px) {
  main {
    font-size: 14px;
  }

  h3 {
    font-size: 2.2rem;
  }

  .container-fluid {
    padding: 0 4rem;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  main {
    font-size: 10px;
  }

  h3 {
    font-size: 1.6rem;
  }

  .container-fluid {
    padding: 0 2rem;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}
