<main>
  <div class="container">
    <div class="license-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3 class="display-4">License & Attribution</h3>
      <p class="lead">
        All photos on MEDIA STOCK FINDER can be used for free.
      </p>
      <br />
      <hr />
      <br />
      <p>
        You can use them for commercial and noncommercial purposes. You do not
        need to ask permission from or provide credit to the photographer,
        although it is appreciated when possible.
      </p>
    </div>
  </div>
</main>
