<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron hero_imagen text-center" style="
      background-image: url(https://img2.rtve.es/v/624094?w=1600&preview=1561977668787.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;">
    <div class="container main_search">
      <h5 class="display-3">FREE IMAGES FOR EVERYBODY</h5>
      <form>
        <div class="form-row align-items-center">
          <div class="col-8" style="margin: 0 auto;">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search..." />
              <div class="input-group-append caja1" style="background-color: white;">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Select
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" selected>Photo</a>
                  <a class="dropdown-item" href="#">Video</a>
                </div>
              </div>
              <div class="input-group-append caja">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container sections">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Random</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Food & Drink</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Video</a>
      </li>
    </ul>
  </div>

  <div class="container my-4 grid plantilla">
    <div class="row">
      <div class="column">
        <div class="container element">
          <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
            <img src="https://picsum.photos/200" />
          </a>
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="exampleModalLabel">
                    John Doe | Unsplash
                  </h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="https://picsum.photos/600" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>Title of the image</h6>
                    <p>Description of the image</p>
                  </div>

                  <div class="dropdown">
                    <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button"
                      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Small</a>
                      <a class="dropdown-item" href="#">Medium</a>
                      <a class="dropdown-item" href="#">Large</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container element">
          <a href="#exampleModal2" data-toggle="modal" data-target="#exampleModal2">
            <img src="https://picsum.photos/200/300" />
          </a>
          <div class="bottom-left">John Smith | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title mr-auto" id="exampleModalLabel">
                    John Smith | Unsplash
                  </h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="https://picsum.photos/600" />
                </div>
                <div class="modal-footer">
                  <div class="footer-text mr-auto align-bottom">
                    <h6>Title of the image</h6>
                    <p>Description of the image</p>
                  </div>

                  <div class="dropdown">
                    <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button"
                      id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Download
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Small</a>
                      <a class="dropdown-item" href="#">Medium</a>
                      <a class="dropdown-item" href="#">Large</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element">
          <img src="https://picsum.photos/200/400" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200/300" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200/300" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element">
          <img src="https://picsum.photos/200/300" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200/300" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200/400" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">Bottom Left</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">Bottom Left</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200/300" />
          <div class="bottom-left">Bottom Left</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200/300" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200/400" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
        <div class="container element">
          <img src="https://picsum.photos/200" />
          <div class="bottom-left">John Doe | Unsplash</div>
          <div class="bottom-right">
            <i class="fas fa-arrow-down"></i><i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
